.official-background-color {
        background:     rgba(255,255,255,1);
}

.official-body {
        min-height:     89vh;
        text-align:     center;
        color:          darkblue;
}


.official-menu-window {
        background:     rgba(10,25,32,1.0);
        border-radius:  14px;
        margin-top:     5px;
        padding-bottom: 5px;
}

.special-font {
        font-family:    'Oxanium';
}

.official-menu-buttonstyle {
        font-family:    'Oxanium';
        height: 30px;
        background:     rgba(255,255,255,1);
        color:          darkblue;
        margin-top:     20px;
        margin-left:    10px;
        border-radius:  10px;
        border-color:   darkblue;
        font-weight:    bold;
}

.official-buttonstyle {
        position:       relative;
        top:            20px;
        height: 35px;
        background:     rgba(1,50,122,1);
        color:          white;
        border-radius:  10px;
        border-color:   darkblue;
        font-weight:    normal;
        font-family:    'Oxanium';
}


.offical-logo1 {
        max-width: 100%;
}

.offical-logo2 {
        max-width: 100%;
}
